@use '../abstracts/variables';
@use '../abstracts/mixins';

.btn {
    width: 170px;
    height: 69px;
    padding: 11px;
    background-color: variables.$primary-color1;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    @include mixins.font-size(20px);
    font-weight: 700;
    color: variables.$white;
    transition: all 0.3s ease-in-out;


    &:hover,
    &:focus {
        color: variables.$black;
        background-color: variables.$primary-color3;
    }

    &--form {
        @include mixins.font-size(18px);
    }
}