@use '../abstracts/variables';
@use '../abstracts/mixins';

/*****************************************/
/* HOMEPAGE PHOTOGRAPHER CARD COMPONENT */
/****************************************/

.photographer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    &__link {
        display: flex;
        flex-direction: column;
        align-items: center;

        &:hover {
            .photographer__title {
                text-decoration: underline;
            }

            .photographer__picture img {
                transform: scale(1.2);
                opacity: 0.5;
                transition: all 0.6s ease-out;
            }
        }

        &:not(:hover) {
            .photographer__picture img {
                transform: scale(1);
                opacity: 1;
                transition: all 0.6s ease-out;
            }
        }
    }

    &__picture {
        height: 200px;
        width: 200px;
        border-radius: 50%;
        overflow: hidden;

        img {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }

    &__title {
        @include mixins.font-size(36px);
        font-weight: 400;
        color: variables.$primary-color2;
        margin: 20px 0 5px 0;
    }

    &__infos {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__location {
        color: variables.$primary-color1;
        @include mixins.font-size(16px);
        margin: 0 0 3px 0;
    }

    &__tagline {
        color: #000000;
        @include mixins.font-size(13px);
        margin: 0 0 3px 0;
    }

    &__price {
        color: #757575;
        @include mixins.font-size(11px);
        margin: 0 0 3px 0;
    }
}