@use '../abstracts/variables';
@use '../abstracts/mixins';

.photographer-header {
    background-color: variables.$secondary-color2;
    min-height: 300px;
    margin-top: 40px;
    border-radius: 5px;
}

.photographer-insert {
    position: fixed;
    bottom: 0;
    right: 50px;
    z-index: 200;
    background-color: variables.$btn-secondary;
    min-width: 350px;
    padding: 21px 31px;
    border-radius: 5px 5px 0 0;
}

.photographer-portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
    margin-top: 40px;
    gap: 20px;
}