@use '../abstracts/variables';
@use '../abstracts/mixins';

.photographer-header {
    background-color: variables.$secondary-color2;
    min-height: 300px;
    margin-top: 40px;
    border-radius: 5px;
}