/**********/
/* FONTS */
/*********/

$font-default: "DM Sans", sans-serif;

/***********/
/* COLORS */
/**********/

$white: #ffffff;
$black: #000000;
$primary-color1: #901C1C;
$primary-color2: #D3573C;
$primary-color3: #DB8876;
$secondary-color1: darken($white, 68);
$secondary-color2: darken($white, 2);
$label-grey: #312e2e;
$modal-bg: rgba(196, 196, 196, 0.4);