/**********/
/* FONTS */
/*********/

$font-default: "DM Sans", sans-serif;

/***********/
/* COLORS */
/**********/

$white: #ffffff;
$black: #000000;
$primary-color1: #901C1C;
$primary-color2: #D3573C;
$secondary-color1: darken($white, 68);
$secondary-color2: darken($white, 2);
$btn-secondary: #DB8876;