/**********/
/* FONTS */
/*********/

$font-default: "DM Sans", sans-serif;

/***********/
/* COLORS */
/**********/

$primary-color1: #901C1C;
$primary-color2: #D3573C;
$secondary-color1: #525252;
$secondary-color2: #FAFAFA;