/*****************/
/* HEADER LAYOUT */
/*****************/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    padding-top: 20px;

    &__logo {
        height: 50px;
    }

    &__title {
        margin: 0;
    }
}